@keyframes zoomInOut {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.zoom-animation {
  animation: zoomInOut 0.5s ease-in-out forwards;
}

* {
  margin: 0px;
  padding: 0px;
}
